#title{
    color: #FFFFFF;
    font-size: 30px;
    padding-top: 15%;
    padding-bottom: 2%;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}

input{
    color: #000000;
}
.box{
    padding: 2%;
    border-radius: 15px 15px 50px 35px;
    background: rgba(255, 175, 25, 0.7)
}

.hideClass{
    display: none;
}

body{
    margin: 0 auto;
    background: url("../flowers.jpeg") no-repeat center center fixed;
    background-size: cover;
    color: #FFFFFF;
    font-family: Lato;
    text-align: center;
}

