<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>MargaritaTEL - Restablecer contraseña</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/main.css}">

</head>
<body>


<div class="container">
    <div th:class=" (${error} ? 'hideClass' : '' ) + ' row '">

        <div id="title">Restablecer contraseña:</div>

        <div class="col-sm-6 col-sm-offset-3 box">
            <form action="#" th:action="@{/resetCustomerPassword}" method="post">
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Contraseña</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Contraseña"
                               name="password">
                    </div>
                </div>

                <input type="hidden" name="token" th:value="${resetToken}"/>
                <input type="submit" class="btn btn-default" value="Restablecer">
            </form>

        </div>
    </div>
    <div th:class=" (${error} ? '' : 'hideClass' ) + ' row '">
        <h1>Oops. Parece que has accedido a un link expirado.</h1>
    </div>
</div>

</body>
</html>